{
  "openapi": "3.1.0",
  "info": {
    "title": "Synthesia API (V2)",
    "version": "unknown"
  },
  "servers": [
    {
      "url": "https://api.synthesia.io/v2"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "x-bearer-format": "",
        "x-default": ""
      }
    }
  },
  "security": [
    {
      "sec0": []
    }
  ],
  "paths": {
    "/videos/{video_id}": {
      "get": {
        "summary": "Retrieve a video",
        "description": "You can use Retrieve a video endpoint to pull for the video status.",
        "operationId": "retrieve-a-video",
        "parameters": [
          {
            "name": "video_id",
            "in": "path",
            "description": "The video ID to retrieve",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"createdAt\": 1713194551,\n  \"description\": \"Default template\",\n  \"download\": \"https://synthesia-ttv-data.s3-eu-west-1.amazonaws.com/video_data/dfc7840f-6915-4028-bdef-XXXXXXXXXX/transfers/rendered_video.mp4\",\n  \"duration\": \"0:00:57.204\",\n  \"id\": \"dfc7840f-6915-4028-bdef-XXXXXXXXXX\",\n  \"lastUpdatedAt\": 1713196388,\n  \"status\": \"complete\",\n  \"title\": \"My 31st video\",\n  \"visibility\": \"public\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "createdAt": {
                      "type": "integer",
                      "example": 1713194551,
                      "default": 0
                    },
                    "description": {
                      "type": "string",
                      "example": "Default template"
                    },
                    "download": {
                      "type": "string",
                      "example": "https://synthesia-ttv-data.s3-eu-west-1.amazonaws.com/video_data/dfc7840f-6915-4028-bdef-XXXXXXXXXX/transfers/rendered_video.mp4"
                    },
                    "duration": {
                      "type": "string",
                      "example": "0:00:57.204"
                    },
                    "id": {
                      "type": "string",
                      "example": "dfc7840f-6915-4028-bdef-XXXXXXXXXX"
                    },
                    "lastUpdatedAt": {
                      "type": "integer",
                      "example": 1713196388,
                      "default": 0
                    },
                    "status": {
                      "type": "string",
                      "example": "complete"
                    },
                    "title": {
                      "type": "string",
                      "example": "My 31st video"
                    },
                    "visibility": {
                      "type": "string",
                      "example": "public"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"context\": \"The video ID should be a UUID (version 4)\",\n  \"error\": \"ValidationError\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "context": {
                      "type": "string",
                      "example": "The video ID should be a UUID (version 4)"
                    },
                    "error": {
                      "type": "string",
                      "example": "ValidationError"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "403",
            "content": {
              "text/plain": {
                "examples": {
                  "Result": {
                    "value": "Forbidden"
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/videos/fromTemplate": {
      "post": {
        "summary": "Create a video from a template",
        "description": "Create a video based on a template created in Synthesia.",
        "operationId": "create-a-video-from-a-template",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "RAW_BODY": {
                    "type": "object",
                    "description": "Video creation from template",
                    "properties": {
                      "test": {
                        "type": "string",
                        "description": "Describes if the video is a test video. Test videos do not count towards your quota but are rendered with a watermark.",
                        "default": "false"
                      },
                      "templateId": {
                        "type": "string",
                        "description": "Unique identifier of the template from which to create this video. This may be retrieved from the templates page in STUDIO."
                      },
                      "templateData": {
                        "type": "string",
                        "description": "Set of key-value pairs where the key is the variable name defined in the template and the value is the variable value to be used in the video. <br> For image and video variables (for example, the background of a video), you may provide either the URL of the asset you'd like to use or the asset ID of a [created asset](https://docs.synthesia.io/reference/create-an-asset). <br>  All text variables are HTML escaped by default (e.g. & would become &amp). In order to prevent escaping of HTML use {{& variable}} syntax in script, text elements.",
                        "default": "{\"variable_1\":\"value_1\",\"variable_2\":\"value_2\"}",
                        "format": "json"
                      },
                      "title": {
                        "type": "string",
                        "description": "Title of the video (used on the video's share page).  Defaults to the template title."
                      },
                      "description": {
                        "type": "string",
                        "description": "Description of the video (used on the video's share page).  Defaults to the template description."
                      },
                      "visibility": {
                        "type": "string",
                        "description": "Describes the private settings of the video.  - If public, the video's share page is active. - If private, the video's share page is not active; visitors will receive a 404 Not Found response.",
                        "default": "private"
                      },
                      "callbackId": {
                        "type": "string",
                        "description": "A callback ID that you may attach to the Video object. This is useful in the scenario where you need to store additional metadata on the video."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/videos": {
      "post": {
        "summary": "Create video",
        "description": "Create a video within your Synthesia account",
        "operationId": "create-video",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "RAW_BODY": {
                    "type": "object",
                    "description": "Synthesia Video object",
                    "properties": {
                      "test": {
                        "type": "string",
                        "description": "Test videos are free and not counted towards your quota. If you create a video in the “test” mode, we will overlay a watermark over your video.",
                        "default": "false"
                      },
                      "title": {
                        "type": "string",
                        "description": "Title of the video to be shown on the share page."
                      },
                      "description": {
                        "type": "string",
                        "description": "Description of the video to be shown on the share page."
                      },
                      "visibility": {
                        "type": "string",
                        "description": "Possible values are `private`, `public` <br> Public videos will be visible to anyone with a share URL.  <br>Private videos can only be downloaded via a time-limited download link. See Retrieve a video for details.  <br>Visibility can be changed also once the video is created via Update a video.",
                        "default": "private"
                      },
                      "ctaSettings": {
                        "type": "object",
                        "description": "Settings for a call-to-action button.",
                        "properties": {
                          "label": {
                            "type": "string",
                            "description": "Label for a call-to-action button."
                          },
                          "url": {
                            "type": "string",
                            "description": "URL to navigate to, when the call-to-action button is clicked."
                          }
                        }
                      },
                      "callbackId": {
                        "type": "string",
                        "description": "Use callback ID to link videos back to the initial request. For example, if you are making a personalized video for a customer, you could enter the customer's email as a callback ID. This way, you can tell who the video is for, once its generated.."
                      },
                      "input": {
                        "type": "array",
                        "description": "An array of objects that each describe a clip of a multi-clip video. You can think of the clips as different scenes in the video.",
                        "items": {
                          "properties": {
                            "scriptText": {
                              "type": "string",
                              "description": "Script for text-to-voice can be entered in any of the [supported languages](https://docs.synthesia.io/reference/voices)."
                            },
                            "scriptAudio": {
                              "type": "string",
                              "description": "As an alternative to `scriptText`, provide the ID of uploaded script audio. See [Upload script audio](https://docs.synthesia.io/reference/upload-script-audio) for details.  <br>If you use `scriptAudio` you must provide `scriptLanguage`."
                            },
                            "scriptLanguage": {
                              "type": "string",
                              "description": "Language code of the language the script audio was generated in.  The `scriptLanguage` option must be used with `scriptAudio`.  <br>To control the language/voice of the scriptText, use input[].avatarSettings.voice option. <br>Language code should be in the format: `en-US`, where the first two characters represent language and the second two-character represent the country."
                            },
                            "avatar": {
                              "type": "string",
                              "description": "Use one of our [stock avatars](https://docs.synthesia.io/reference/avatars) or your custom avatar (contact support to get the ID of your custom avatar)."
                            },
                            "avatarSettings": {
                              "type": "object",
                              "description": "Avatar settings.",
                              "properties": {
                                "voice": {
                                  "type": "string",
                                  "description": "If a voice is not provided, defaults to our recommended voice for the selected avatar.  [See the complete list of voices](https://docs.synthesia.io/reference/voices)."
                                },
                                "horizontalAlign": {
                                  "type": "string",
                                  "description": "Possible values: `left`, `center`, `right` At the moment verticalAlign field is not exposed via API and is fixed to bottom, however together with horizontalAlign they define a reference point from where we scale the rectangular style avatar.  For example, horizontal alignment: left, would mean that avatar is called from the bottom-left cornet towards the top-right corner.",
                                  "default": "center"
                                },
                                "scale": {
                                  "type": "number",
                                  "description": "The scale of the avatar.",
                                  "default": 1,
                                  "format": "float"
                                },
                                "style": {
                                  "type": "string",
                                  "description": "Possible values: `rectangular` or `circular`. rectangular style corresponds to the \"Full body\" avatar style in STUDIO.  circular style corresponds to the \"Circle\" avatar style in STUDIO.  The position of circular avatar is fixed to the center of the video both vertically and horizontally, and can't be changed. With scale 1.0, circular avatar will cover total height of the video.  Use circular style, if you need to make a round cutout of the avatar to integrate into e.g. screen recording app",
                                  "default": "rectangular"
                                },
                                "backgroundColor": {
                                  "type": "string",
                                  "description": "HEX color code (e.g. #F2F7FF) for the background of circular style avatar."
                                },
                                "seamless": {
                                  "type": "boolean",
                                  "description": "When the seamless option is enabled, a video of the avatar will be generated in a way that first and last frames match, so videos can be concatenated seamlessly.  Use seamless option, if you need to play videos back to back seamlessly e.g. in a video chatbot app.  Limitations: - Only work with anna_costume1_cameraA and mia_costume1_cameraA actors. - Only work with static (image) backgrounds. - Videos will have noticeably lower quality. Though, this might not matter, depending on your use case.",
                                  "default": false
                                }
                              }
                            },
                            "background": {
                              "type": "string",
                              "description": "Use Synthesia' stock backgrounds (see below) or your custom background.  For the custom background, provide the ID of an uploaded asset (see [Create an asset](https://docs.synthesia.io/reference/create-an-asset)), or URL from where Synthesia should download the background.  <br>**Transparent**: `green_screen` Green screen background can be used if you want to replace background using FFMPEG or any of the video editing software.  <br>**Solid**: `off_white` / `warm_white` / `light_pink` / `soft_pink` / `light_blue` / `dark_blue` / `soft_cyan` / `strong_cyan` / `light_orange` / `soft_orange` <br>**Image**: `white_studio` / `white_cafe` / `luxury_lobby` / `large_window` / `white_meeting_room` / `open_office`"
                            },
                            "backgroundSettings": {
                              "type": "object",
                              "description": "Video Settings object",
                              "properties": {
                                "videoSettings": {
                                  "type": "object",
                                  "description": "Video Settings object",
                                  "properties": {
                                    "shortBackgroundContentMatchMode": {
                                      "type": "string",
                                      "description": "Possible values: - freeze freezes the last frame of the background until the content is finished - loop loops the background until the content is finished - slow_down slows down the background so that its duration matches the content duration",
                                      "default": "freeze"
                                    },
                                    "longBackgroundContentMatchMode": {
                                      "type": "string",
                                      "description": "Possible values - trim trims the background to the duration of the content - speed_up speeds up the background so that its duration matches the content duration",
                                      "default": "trim"
                                    }
                                  }
                                }
                              }
                            }
                          },
                          "type": "object"
                        }
                      },
                      "soundtrack": {
                        "type": "string",
                        "description": "Possible values are `corporate` - `inspirational` - `modern` - `urban`. <br> soundtrack option is supported for backward compatibility. You should use the templates functionality for rich videos. See [Create a video from a template](https://docs.synthesia.io/reference/create-a-video-from-a-template)."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"callbackId\": \"example@example.com\",\n  \"createdAt\": 1713425134,\n  \"ctaSettings\": {\n    \"label\": \"click me \",\n    \"url\": \"example.com\"\n  },\n  \"description\": \"dec\",\n  \"id\": \"81f62a0a-d9b0-4440-9b0c-XXXXXXX\",\n  \"lastUpdatedAt\": 1713425135,\n  \"status\": \"in_progress\",\n  \"title\": \"title\",\n  \"visibility\": \"private\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "callbackId": {
                      "type": "string",
                      "example": "example@example.com"
                    },
                    "createdAt": {
                      "type": "integer",
                      "example": 1713425134,
                      "default": 0
                    },
                    "ctaSettings": {
                      "type": "object",
                      "properties": {
                        "label": {
                          "type": "string",
                          "example": "click me "
                        },
                        "url": {
                          "type": "string",
                          "example": "example.com"
                        }
                      }
                    },
                    "description": {
                      "type": "string",
                      "example": "dec"
                    },
                    "id": {
                      "type": "string",
                      "example": "81f62a0a-d9b0-4440-9b0c-XXXXXXX"
                    },
                    "lastUpdatedAt": {
                      "type": "integer",
                      "example": 1713425135,
                      "default": 0
                    },
                    "status": {
                      "type": "string",
                      "example": "in_progress"
                    },
                    "title": {
                      "type": "string",
                      "example": "title"
                    },
                    "visibility": {
                      "type": "string",
                      "example": "private"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/videos?limit={LIMIT}&offset={OFFSET}": {
      "get": {
        "summary": "List videos",
        "description": "You can use the List videos endpoint to get an overview of all videos created in your Synthesia account.",
        "operationId": "list-videos",
        "parameters": [
          {
            "name": "LIMIT",
            "in": "path",
            "description": "This parameter lets you specify the amount of videos to return in your API call. The maximum amount of videos you can have returned to you via this parameter is 100.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 20
            },
            "required": true
          },
          {
            "name": "OFFSET",
            "in": "path",
            "description": "Used to page through the videos. Every call to this endpoint will return the next offset value. This value is used in the offset parameter of the next call to get the next page of videos.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"nextOffset\": 2,\n  \"videos\": [\n    {\n      \"createdAt\": 1713194551,\n      \"description\": \"Default template\",\n      \"download\": \"https://synthesia-ttv-data.s3-eu-west-1.amazonaws.com/video_data/dfc7840f-6915-4028-bdef-XXXXXXXXXX/transfers/rendered_video.mp4\",\n      \"duration\": \"0:00:57.204\",\n      \"id\": \"dfc7840f-6915-4028-bdef-XXXXXXXXXX\",\n      \"lastUpdatedAt\": 1713196388,\n      \"status\": \"complete\",\n      \"title\": \"My 31st video\",\n      \"visibility\": \"public\"\n    },\n    {\n      \"createdAt\": 1712741095,\n      \"ctaSettings\": {\n        \"label\": \"Academy Launch\",\n        \"url\": \"https://www.synthesia.io/academy\"\n      },\n      \"description\": \"Default template\",\n      \"download\": \"https://synthesia-ttv-data.s3-eu-west-1.amazonaws.com/video_data/66757b5b-3273-4bc5-aa22-XXXXXXXXXX/transfers/rendered_video.mp4\",\n      \"duration\": \"0:00:52.573\",\n      \"id\": \"66757b5b-3273-4bc5-aa22-XXXXXXXXXX\",\n      \"lastUpdatedAt\": 1712743044,\n      \"status\": \"complete\",\n      \"title\": \"my 30th video\",\n      \"visibility\": \"public\"\n    }\n  ]"
                  }
                }
              }
            }
          },
          "403": {
            "description": "403",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "Forbidden"
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/videos/{VIDEO_ID}": {
      "patch": {
        "summary": "Update a video",
        "description": "You can use the Update a video endpoint to make the video public and accessible via the share page or update its title and description.",
        "operationId": "update-a-video",
        "parameters": [
          {
            "name": "VIDEO_ID",
            "in": "path",
            "description": "The ID of the video to update",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "RAW_BODY": {
                    "type": "object",
                    "description": "Synthesia video to update.",
                    "properties": {
                      "title": {
                        "type": "string",
                        "description": "Title of the video to be shown on the share page."
                      },
                      "description": {
                        "type": "string",
                        "description": "Description of the video to be shown on the share page."
                      },
                      "ctaSettings": {
                        "type": "object",
                        "description": "Settings for a call-to-action button.",
                        "properties": {
                          "label": {
                            "type": "string",
                            "description": "Label for a call-to-action button."
                          },
                          "url": {
                            "type": "string",
                            "description": "URL to navigate to, when the call-to-action button is clicked."
                          }
                        }
                      },
                      "visibility": {
                        "type": "string",
                        "description": "Possible values are `private` and `public` Public videos will be visible to anyone with a share URL: https://share.synthesia.io/{VIDEO_ID}.  Private videos can only be downloaded via a time-limited download link. See Retrieve a video for details.  Visibility can be changed also once the video is created via Update a video.",
                        "default": "private"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "delete": {
        "summary": "Delete a video",
        "description": "Use this endpoint to delete videos from Synthesia.",
        "operationId": "delete-a-video",
        "parameters": [
          {
            "name": "VIDEO_ID",
            "in": "path",
            "description": "The id of the video to delete.",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/templates/{TEMPLATE_ID}": {
      "get": {
        "summary": "Retrieve a template",
        "description": "Use this endpoint to pull information on a given template. In particular, you may use it to find out the variables available for customisation.",
        "operationId": "retrieve-a-template",
        "parameters": [
          {
            "name": "TEMPLATE_ID",
            "in": "path",
            "description": "The ID of the template to be retrieved",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"createdAt\": 1706865645,\n  \"description\": \"Elevate your business and marketing efforts with our modern, colorful video template. Designed for dynamic dialogues, onboarding, and compelling pitch decks, it features a graphic style that captures attention. Ideal for introducing your company or product in a vibrant, engaging way.\",\n  \"id\": \"99196207-a282-4114-9e71-a192be261a4e\",\n  \"lastUpdatedAt\": 1712850985,\n  \"title\": \"Multi Avatar Presentation\",\n  \"variables\": []\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "createdAt": {
                      "type": "integer",
                      "example": 1706865645,
                      "default": 0
                    },
                    "description": {
                      "type": "string",
                      "example": "Elevate your business and marketing efforts with our modern, colorful video template. Designed for dynamic dialogues, onboarding, and compelling pitch decks, it features a graphic style that captures attention. Ideal for introducing your company or product in a vibrant, engaging way."
                    },
                    "id": {
                      "type": "string",
                      "example": "99196207-a282-4114-9e71-a192be261a4e"
                    },
                    "lastUpdatedAt": {
                      "type": "integer",
                      "example": 1712850985,
                      "default": 0
                    },
                    "title": {
                      "type": "string",
                      "example": "Multi Avatar Presentation"
                    },
                    "variables": {
                      "type": "array"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/templates?limit={LIMIT}&offset={OFFSET}": {
      "get": {
        "summary": "List templates",
        "description": "Use this endpoint to get an overview of all templates in Synthesia, as well as the variables that may be provided when using them.",
        "operationId": "list-templates",
        "parameters": [
          {
            "name": "LIMIT",
            "in": "path",
            "description": "This parameter lets you specify the amount of templates to return in your API call. The maximum amount of templates you can have returned to you via this parameter is 100.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 20
            },
            "required": true
          },
          {
            "name": "OFFSET",
            "in": "path",
            "description": "Used to page through the templates. Every call to this endpoint will return the next offset value. This value is used in the offset parameter of the next call to get the next page of templates.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"nextOffset\": 1,\n  \"templates\": [\n    {\n      \"createdAt\": 1706865645,\n      \"description\": \"Elevate your business and marketing efforts with our modern, colorful video template. Designed for dynamic dialogues, onboarding, and compelling pitch decks, it features a graphic style that captures attention. Ideal for introducing your company or product in a vibrant, engaging way.\",\n      \"id\": \"99196207-a282-4114-9e71-a192be261a4e\",\n      \"lastUpdatedAt\": 1712850985,\n      \"title\": \"Multi Avatar Presentation\",\n      \"variables\": []\n    }\n  ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "nextOffset": {
                      "type": "integer",
                      "example": 1,
                      "default": 0
                    },
                    "templates": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "createdAt": {
                            "type": "integer",
                            "example": 1706865645,
                            "default": 0
                          },
                          "description": {
                            "type": "string",
                            "example": "Elevate your business and marketing efforts with our modern, colorful video template. Designed for dynamic dialogues, onboarding, and compelling pitch decks, it features a graphic style that captures attention. Ideal for introducing your company or product in a vibrant, engaging way."
                          },
                          "id": {
                            "type": "string",
                            "example": "99196207-a282-4114-9e71-a192be261a4e"
                          },
                          "lastUpdatedAt": {
                            "type": "integer",
                            "example": 1712850985,
                            "default": 0
                          },
                          "title": {
                            "type": "string",
                            "example": "Multi Avatar Presentation"
                          },
                          "variables": {
                            "type": "array"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/webhooks": {
      "post": {
        "summary": "Create a webhook",
        "description": "You can use the Create a webhook endpoint to create a new event subscription.",
        "operationId": "create-a-webhook",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "description": "The URL to send notifications to"
                  },
                  "events": {
                    "type": "array",
                    "description": "The [webhook events](https://docs.synthesia.io/reference/webhook-events) for which notifications should be sent",
                    "default": [
                      "video.completed"
                    ],
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"createdAt\": 1713425544,\n  \"id\": \"65c69ff1-7a6f-4cb7-a0ed-XXXXXXXXX\",\n  \"lastUpdatedAt\": 1713425544,\n  \"secret\": \"ebda68b2-ea87-4b60-a18b-XXXXXXXXX\",\n  \"status\": \"active\",\n  \"url\": \"https://webhook.site/d9c4f642-a89f-47be-ac60-XXXXXXXXX\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "createdAt": {
                      "type": "integer",
                      "example": 1713425544,
                      "default": 0
                    },
                    "id": {
                      "type": "string",
                      "example": "65c69ff1-7a6f-4cb7-a0ed-XXXXXXXXX"
                    },
                    "lastUpdatedAt": {
                      "type": "integer",
                      "example": 1713425544,
                      "default": 0
                    },
                    "secret": {
                      "type": "string",
                      "example": "ebda68b2-ea87-4b60-a18b-XXXXXXXXX"
                    },
                    "status": {
                      "type": "string",
                      "example": "active"
                    },
                    "url": {
                      "type": "string",
                      "example": "https://webhook.site/d9c4f642-a89f-47be-ac60-XXXXXXXXX"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/webhooks/{WEBHOOK_ID}": {
      "get": {
        "summary": "Retrieve a webhook",
        "description": "Retrieve a webhook endpoint to pull for the webhook status.",
        "operationId": "retrieve-a-webhook",
        "parameters": [
          {
            "name": "WEBHOOK_ID",
            "in": "path",
            "description": "The unique identifier of the webhook to retrieve.",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"createdAt\": 1713425544,\n  \"id\": \"65c69ff1-7a6f-4cb7-a0ed-XXXXXXXXXXX\",\n  \"lastUpdatedAt\": 1713425544,\n  \"status\": \"active\",\n  \"url\": \"https://webhook.site/d9c4f642-a89f-47be-ac60-XXXXXXXXXXX\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "createdAt": {
                      "type": "integer",
                      "example": 1713425544,
                      "default": 0
                    },
                    "id": {
                      "type": "string",
                      "example": "65c69ff1-7a6f-4cb7-a0ed-XXXXXXXXXXX"
                    },
                    "lastUpdatedAt": {
                      "type": "integer",
                      "example": 1713425544,
                      "default": 0
                    },
                    "status": {
                      "type": "string",
                      "example": "active"
                    },
                    "url": {
                      "type": "string",
                      "example": "https://webhook.site/d9c4f642-a89f-47be-ac60-XXXXXXXXXXX"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "delete": {
        "summary": "Delete a webhook",
        "description": "Use the Delete webhooks endpoint to delete (deactivate) an active webhook from your Synthesia account.",
        "operationId": "delete-a-webhook",
        "parameters": [
          {
            "name": "WEBHOOK_ID",
            "in": "path",
            "description": "The unique identifier of the webhook to delete.",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "204",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "No Content"
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/webhooks?limit={LIMIT}&offset={OFFSET}&deleted={DELETED}\"": {
      "get": {
        "summary": "List webhooks",
        "description": "List all currently configured webhooks in your Synthesia account.",
        "operationId": "list-webhooks",
        "parameters": [
          {
            "name": "LIMIT",
            "in": "path",
            "description": "Specify the amount of videos to return in your API call. The maximum amount of videos you can have returned to you via this parameter is 100.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 20
            },
            "required": true
          },
          {
            "name": "OFFSET",
            "in": "path",
            "description": "Used to page through the videos. Every call to this endpoint will return the next offset value. This value is used in the offset parameter of the next call to get the next page of videos.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            },
            "required": true
          },
          {
            "name": "DELETED",
            "in": "path",
            "description": "If true, fetches deleted webhooks rather than active ones.",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"webhooks\": [\n    {\n      \"createdAt\": 1713425544,\n      \"id\": \"65c69ff1-7a6f-4cb7-a0ed-XXXXXXXXXXX\",\n      \"lastUpdatedAt\": 1713425544,\n      \"status\": \"active\",\n      \"url\": \"https://webhook.site/d9c4f642-a89f-47be-ac60-XXXXXXXXXXX\"\n    }\n  ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "webhooks": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "createdAt": {
                            "type": "integer",
                            "example": 1713425544,
                            "default": 0
                          },
                          "id": {
                            "type": "string",
                            "example": "65c69ff1-7a6f-4cb7-a0ed-XXXXXXXXXXX"
                          },
                          "lastUpdatedAt": {
                            "type": "integer",
                            "example": 1713425544,
                            "default": 0
                          },
                          "status": {
                            "type": "string",
                            "example": "active"
                          },
                          "url": {
                            "type": "string",
                            "example": "https://webhook.site/d9c4f642-a89f-47be-ac60-XXXXXXXXXXX"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    }
  },
  "x-readme": {
    "headers": []
  },
  "x-readme-fauxas": true
}